

<section class="header">
  <button (click)='sortName()'><Sender</button>
  <button>Message Date</button>
  <button>Text</button>
  <h4>Read Date</h4>
  <h4>Service</h4>
  <h4>Origin</h4>
  <h4>Sender Id</h4>
  <h4>Sender Name</h4>
  <h4>Status</h4>
  <h4>Subject</h4>
  <h4>Message</h4>
  <h4>Attachment</h4>
  <h4>Attachment Type</h4>
</section>
<section>
  <button (click) = 'countHots("maxwell")'>countMax</button>
  <button (click) = 'countHots("greesemonkey")'>countMonkey</button>
  <button (click) = 'countHots("mikeryan")'>counRyan</button>
  <button (click) = 'countHots("blake")'>countBlake</button>
  <button (click) = 'countHots("")'>countphil</button>
  <button (click) = 'countAllHots()'>Count All Texts</button>
  <h3>maxCount: {{maxwellHotsCount$}}</h3>
  <h3>monkeyCount: {{greesemonkeyHotsCount$}}</h3>
  <h3>mikeyCount: {{mikeryanHotsCount$}}</h3>
  <h3>blakeCount: {{blakeHotsCount$}}</h3>
  <h3>philCount: {{HotsCount$}}</h3>

  <div *ngFor="let data of data$;let i = index;">
    <h4>{{data["Sender Name"]}} </h4>
    <p>Date: {{data["Message Date"]}} </p>
    <p>Message: {{data["Text"]}} </p>

  </div>
  </section>
<router-outlet></router-outlet>
