


<!-- <section>
  <button (click) = 'countHots("maxwell")'>countMax</button>
  <button (click) = 'countHots("greesemonkey")'>countMonkey</button>
  <button (click) = 'countHots("mikeryan")'>counRyan</button>
  <button (click) = 'countHots("blake")'>countBlake</button>
  <button (click) = 'countHots("")'>countphil</button>
  <button (click) = 'countAllHots()'>Count All Hots</button> -->


<!--  <div *ngFor="let data of data$;let i = index;">-->
<!--    <h4>{{data["Sender Name"]}} </h4>-->
<!--    <p>Date: {{data["Message Date"]}} </p>-->
<!--    <p>Message: {{data["Text"]}} </p>-->

<!--  </div>-->
  <!-- </section> -->
<router-outlet></router-outlet>
